$navbar-bg-color: #0a3a17;
$navbar-hover-color: #03611c;
$navbar-text-color: white;
$navbar-font-size: 1.5em;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background-color: $navbar-bg-color;
  color: $navbar-text-color;
  display: flex;
  justify-content: flex-start;
  font-size: $navbar-font-size;

  a {
    color: $navbar-text-color;
    text-decoration: none;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;

    #brand {
      display: block; // Make the anchor block-level
      padding: 0.5rem 1rem; // Add some padding for better clickable area
      color: $navbar-text-color; // Set text color
      text-decoration: none;

      &:hover {
        text-decoration: underline; // Hover effect
        cursor: pointer;
      }
    }

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .navbar-menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        a {
          display: block; // Make the anchor block-level
          padding: 1rem;
          color: $navbar-text-color;
          text-decoration: none;
          transition: background-color 0.5s ease, color 0.5s ease;

          &:hover {
            text-decoration: underline;
            background-color: $navbar-hover-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.active {
  // background-color: darken($navbar-bg-color, 10%);
  background-color: darken($navbar-hover-color, 5%);
}
