<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home">
      <img src="assets/logo-removebg.png" alt="Logo" class="navbar-logo" />
    </a>
    <a id="brand" routerLink="/home">Monis Tierwohl</a>
  </div>
  <div class="navbar-menu">
    <ul>
      <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active">
        <a routerLink="/geschichte">Meine Geschichte</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/erfahrungen">Erfahrungen</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dienstleistungen">Dienstleistungen</a>
      </li>
      <li routerLinkActive="active"><a routerLink="/contact">Kontakt</a></li>
      <li routerLinkActive="active">
        <a routerLink="/impressum">Impressum</a>
      </li>
    </ul>
  </div>
</nav>
