<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">
      <img src="assets/logo-removebg.png" alt="Logo" class="navbar-logo" />
    </a>
    <a id="brand" href="#">Monis Tierwohl</a>
  </div>
  <div class="navbar-menu">
    <ul>
      <li routerLinkActive="active"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active">
        <a routerLink="/stories">Erfahrungen</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dienstleistungen">Dienstleistungen</a>
      </li>
      <li routerLinkActive="active"><a routerLink="/contact">Kontakt</a></li>
      <li routerLinkActive="active">
        <a routerLink="/impressum">Impressum</a>
      </li>
    </ul>
  </div>
</nav>
