.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-content-wide {
}

// Take up all the heigt so footer is at the bottom and margin-top so the content is not hidden underneath the navbar
.wrapper-content {
  flex: 1;
  margin-top: 59px;
  margin-bottom: 20px;
}

.footer {
  // future styles maybe
}
