<div class="main-header">
  <div><h1>Tierkommunikation</h1></div>
  <div class="main-header-menu">
    <ul>
      <li><a href="">Wie funktioniert Tierkommunikation?</a></li>
      <li><a href="">Gründe für ein Tiergespräch</a></li>
      <li><a href="">Beispiele</a></li>
      <li><a href="">Details & Buchung</a></li>
    </ul>
  </div>
</div>
<div class="main-container">
  <div class="header">
    <h1>Wie funktioniert Tierkommunikation?</h1>
  </div>
  <div class="content">
    <p>
      Tierkommunikation bezeichnet die telepathische Kommunikation mit Tieren,
      also den gedanklichen Austausch von Informationen. Die Antworten können
      dann in Form von Gedanken, Bildern und „Videosequenzen“, Gefühlen und
      Körperempfindungen kommen. So kann man Gefühle wie Trauer oder Freude,
      aber auch zum Beispiel Schmerzen in abgeschwächter Form am eigenen Körper
      empfinden. Dabei spielt die Distanz keine Rolle. Es ist also völlig egal,
      ob sich das Tier Neuseeland oder zwei Straßen weiter beim Nachbarn
      befindet. Selbstverständlich funktioniert die Kommunikation aber auch in
      die andere Richtung, sodass man dem Tier Dinge mitteilen kann.
    </p>
  </div>
  <div class="header">
    <h1>Gründe für ein Tiergespräch</h1>
  </div>
  <div class="content">
    <p>
      Tiere finden Gespräche im Allgemeinen und das Interesse an ihrer „Person“
      sehr wertschätzend und sind in der Regel sehr offen dafür. Gründe für ein
      Tiergespräch sind zum Beispiel:
    </p>
    <ul>
      <li>
        Das Tier auf eine Veränderung oder eine Situation vorbereiten: Urlaub,
        Umzug, Tierarztbesuch, Veränderung in der Familie
      </li>
      <li>Ist das Tier krank? Wie empfindet das Tier dabei?</li>
      <li>Hat das Tier Verhaltensveränderungen?</li>
      <li>Begleitung sterbender Tiere und deren Bezugspersonen</li>
      <li>
        Gespräche mit bereits verstorbenen Tieren sind sehr tröstlich und
        wunderschön
      </li>
    </ul>
  </div>
</div>
