<div class="main-container">
  <div class="header">
    <h1>Meine Geschichte</h1>
  </div>
  <div class="content">
    <p>Es begann mit Maxi. -> Pfeil</p>
    <img src="../../assets/maxi.png" alt="Maxi" id="img_maxi" />
    <p>
      Er kam im März 2017 im Alter von ca. 10 Wochen zu uns. Als Maxi neun
      Monate alt war, begannen die Herausforderungen. Er liebte es, mit den
      Rehen Fangen zu spielen. Und da wir mitten im Wald wohnen und die Rehe
      unsere nächsten und direkten Nachbarn waren, wurde dies zu einem Problem.
    </p>
    <p>Bild1</p>
    <p>
      In meinem Kopf gab es fast nur noch dieses Thema und dementsprechend war
      meine gedankliche Ausrichtung. Auch meine Körpersprache sprach Bände.
      Prompt passte Maxi sich meinem Verhalten an. In einem solchen Moment
      „hörte“ ich ganz klar eine Stimme, die nicht von mir war. Sie sagte:
    </p>
    <p>„Du kannst Dich auf mich verlassen“.</p>
    <p>
      Ich sah zu Maxi und stellte fest, dass mich mein Hund ganz konzentriert
      und klar ansah.
    </p>
    <p>Bild2</p>
    <p>
      Ich hatte schon einmal vor vielen Jahren eine Erfahrung mit
      Tierkommunikation gemacht und erinnerte mich nun daran. So begann alles.
      Ich ließ ein Gespräch mit Maxi führen. Dies faszinierte mich so sehr, dass
      ich selbst mehrere Kurse besuchte und die Tierkommunikation erlernte. Von
      da an übte, übte, übte, übte ich. Je mehr Erfahrung und auch Feedbacks ich
      bekam, umso mehr wollte ich den Menschen zeigen, was alles möglich ist.
    </p>
    <p id="fazit">Fazit: Telepathie funktioniert!</p>
  </div>
</div>
