<div class="main-container">
  <div class="header">
    <h1>Entdecke unsere Dienstleistungen:</h1>
  </div>
  <div class="content">
    <!-- TODO Hyperlink bei "hier" -->
    <p>
      Alle Dienstleistungen können persönlich mit Termin oder online
      durchgeführt werden. Für eine Fernberatung sind Bilder und/oder eine
      detaillierte Beschreibung des Anliegens erforderlich. Für weitere Details
      kontaktiere uns <a href="/kontakt">hier</a>.
    </p>
    <p>
      100% unserer Einnahmen gehen an
      <a href=""
        ><span style="font-weight: 900">Tierschutzorganisationen</span></a
      >
    </p>
    <div class="tiles">
      <div class="column">
        <a routerLink="/dienstleistungen/tierkommunikation"
          ><div class="tile">
            <div class="title"><h2>Tierkommunikation</h2></div>
          </div></a
        >
        <p>Versteh dein Tier besser durch einfühlsame Kommunikation.</p>
        <p>Preis: 30€</p>
      </div>
      <div class="column">
        <a routerLink="/dienstleistungen/channeling"
          ><div class="tile">
            <div class="title"><h2>Channeling</h2></div>
          </div></a
        >
        <p>
          Erhalte spirituelle Führung und Einsichten für ein erfülltes Leben.
        </p>
        <p>Preis: 40€</p>
      </div>
      <div class="column">
        <a routerLink="/dienstleistungen/quantenheilung"
          ><div class="tile">
            <div class="title"><h2>Quantenheilung</h2></div>
          </div></a
        >
        <p>
          Erlebe die heilende Energie der Quantenwelt – für ein harmonisches
          Leben
        </p>
        <p>Preis: 40€</p>
      </div>
    </div>
  </div>
</div>
