#btn_experiences {
  margin-right: 10px;
}

#btn_services {
  margin-left: 10px;
}

#img_maxi {
  height: 400px;
  margin: 0px 0px 12px 0px;
}

.buttons {
  margin: 10px 0 10px 0;
}

.tiles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0 10px 0;
}

.tile {
  height: 200px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-image: url("../../assets/maxi.png");
  background-size: cover;
  background-position: center;
  position: relative;

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 15px;
    border-radius: 0 20px 0 20px;
    width: 70%;

    h2 {
      margin: 0;
    }
  }
}

.tile:hover {
  transform: translateY(-5px);
}
