.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    line-height: 200%;
  }
}

#btn_stories {
  margin-right: 10px;
}

#btn_services {
  margin-left: 10px;
}

#img_maxi {
  height: 400px;
  margin: 0px 0px 12px 0px;
}

.buttons {
  margin: 10px 0 10px 0;
}
