<div class="main-container">
  <div class="header">
    <h1>Tiergespräche - Brücken bauen, Herzen öffnen</h1>
  </div>
  <div class="content">
    <div class="tiles">
      <a routerLink="/geschichte"
        ><div class="tile who">
          <div class="title"><h2>Wer sind wir?</h2></div>
        </div></a
      >
      <a routerLink="/dienstleistungen"
        ><div class="tile services">
          <div class="title"><h2>Dienstleistungen & Services</h2></div>
        </div></a
      >
    </div>
    <h2>Willkommen bei Moni's Tierwohl!</h2>
    <p>
      Hier bei Monis Tierwohl sind wir auf einer Mission, die Brücke zwischen
      Menschen und Tieren zu stärken und ein tieferes Verständnis für unsere
      tierischen Gefährten zu fördern.
    </p>
    <p>
      Unsere Dienstleistungen umfassen nicht nur die Tierkommunikation, sondern
      erstrecken sich auch auf Bereiche wie das Channeling und die
      Quantenheilung. Diese Therapien bieten sowohl Tieren als auch Menschen die
      Möglichkeit, Stress abzubauen, Schmerzen zu lindern und ein allgemeines
      Wohlbefinden zu fördern.
    </p>
    <p>
      Und während wir diese transformierenden Erlebnisse teilen, geht jedes
      bisschen Profit, das wir erzielen, direkt an Tierschutzorganisationen.
      Denn unser Herz schlägt für das Wohl der Tiere.
    </p>
    <p>
      Ob Sie mehr über die Bedürfnisse und Wünsche Ihres Tieres erfahren möchten
      oder nach alternativen Heilmethoden für sich selbst suchen – Sie sind hier
      genau richtig. Lassen Sie uns gemeinsam in diese wundervolle Welt der
      energetischen Heilung und Kommunikation eintauchen!
    </p>
  </div>
  <div class="buttons">
    <button class="button-large" id="btn_experiences" routerLink="/erfahrungen">
      Hier gehts zu Erfahrungen
    </button>
    <button
      class="button-large"
      id="btn_services"
      routerLink="/dienstleistungen"
    >
      Hier gehts zu den Dienstleistungen
    </button>
  </div>
</div>
