<div class="main-container">
  <div class="header">
    <h1>Willkommen bei Monis Tierwohl</h1>
  </div>
  <div class="content">
    <div class="tiles">
      <div class="tile who">
        <div class="title"><h2>Wer sind wir?</h2></div>
      </div>
      <div class="tile services">
        <div class="title"><h2>Dienstleistungen & Services</h2></div>
      </div>
    </div>
    <p>
      Die tiefe Verbindung zwischen Mensch und Tier ist wahrlich faszinierend.
      Bei Monis Tierwohl steht diese besondere Beziehung im Mittelpunkt.
      Angefangen mit der inspirierenden Geschichte eines Hundes namens Maxi,
      öffnete sich die Tür zur beeindruckenden Welt der Tierkommunikation und
      energetischen Heilung.
    </p>
    <img src="../../assets/maxi.png" alt="Maxi" id="img_maxi" />
    <p>
      Monis Tierwohl bietet einzigartige Dienstleistungen in der telepathischen
      Kommunikation mit Tieren sowie in der energetischen Heilung durch Methoden
      wie Channeling und Quantenheilung. All diese Angebote sind darauf
      ausgerichtet, Tieren zu helfen, ihre Balance wiederzufinden, Stress zu
      reduzieren und ein harmonisches Leben zu führen.
    </p>
    <p>
      Aber das Engagement geht noch weiter: Alle Einnahmen von Monis Tierwohl
      unterstützt Tierschutzorganisationen. Denn hier steht das Wohl aller Tiere
      im Vordergrund.
    </p>
    <p>
      Für alle, die die Bindung zu ihren tierischen Begleitern vertiefen möchten
      oder nach alternativen Heilmethoden für ihre Tiere suchen, ist Monis
      Tierwohl die richtige Adresse. Tauchen Sie ein in die Welt der
      energetischen Heilung und Kommunikation für Tiere und erleben Sie, wie
      wundervoll diese Verbindung sein kann!
    </p>
  </div>
  <div class="buttons">
    <button id="btn_experiences" routerLink="/erfahrungen">
      Hier gehts zu Erfahrungen
    </button>
    <button id="btn_services" routerLink="/dienstleistungen">
      Hier gehts zu den Dienstleistungen
    </button>
  </div>
</div>
